<head>
    <!-- code to include the highcharts and jQuery libraries goes here -->
    <!-- load_charts filter takes a comma-separated list of id's where -->
    <!-- the charts need to be rendered to                             -->
<script src="/static/highcharts/js/highcharts.src.js"></script>
<script src="/static/highcharts/js/modules/exporting.src.js"></script>
<script src="/static/admin/js/jquery.js"></script>
    {% load chartit %}
    {{ itempivchart|load_charts:"container" }}
</head>
<body>
    <div id='container'> Chart will be rendered here </div>
</body>
