<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/kitchenyoufood.css"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="/static/admin/js/jquery.js"></script>
    <script type="text/javascript">
        var from_id = parseInt({{lastid}});
        var names = new Array();
        var time_last1 = new Date({{time_now}});
        var time_last = new Date();
        var t;
        function getNamesList()
            {
                var result = $.getJSON("/api/v1/menuItem/?format=json",
                                           function(data){
                                               fillNames(data);
                                               }
                                       );
            }
        function fillNames(data)
            {
                var i=0;
                while( i < data.objects.length )
                {
                    var object = data.objects[i];
                    var name = new Array(object.resource_uri,object.name);
                    names.push(name);
                    i++;
                }
                refreshList();
            }
        function refreshList()
           {
            var result  = new XMLHttpRequest();
            var from_id_tmp = from_id;
            var from_id2 = from_id + 3;
            while(result.response == ""){
                result = $.getJSON("/api/v1/orderDetail/"+from_id_tmp+"/?format=json",
                                       function(data){
                                           writeDatas(data);
                                        }
                                  );
                from_id_tmp ++;
                if (from_id_tmp == from_id2 ){
                    break;
                    }
               }
            t = setTimeout("refreshList()",10000);
           }
          function writeDatas(data, idPassed){ 
              if(data != null){
                  from_id = parseInt(data.id) +1;
                  var elementParent = document.getElementById("listToRefresh").parentNode;
                  var value;
                  var o=0;
                  var elementTR = document.createElement('tr');
                  var attName = document.createElement('td');
                  var attNumber = document.createElement('td');
                  var attTime = document.createElement('td');
                  var attKitchenSpe = document.createElement('td');
                  var attSelectDefault = document.createElement('option');
                  var attSelect = document.createElement('select');
                  //generate options
                  {%for cooker in cookers %}
                      var attOption{{cooker.id}} = document.createElement('option');
                      attOption{{cooker.id}}.setAttribute("value","{{cooker.username}}");
                      attOption{{cooker.id}}.innerHTML = "{{cooker.username}}";
                  {% endfor  %}
                  // end generate options

                  // Retrieve menu names from names tab 
                  attName.innerHTML = data.item.name; //value;
                  attNumber.innerHTML =  data.quantity;
                  attTime.innerHTML =  data.time;
                  attSelectDefault.innerHTML = "Need to be selected";
                  attSelectDefault.setAttribute("value",null);
                  attSelectDefault.setAttribute("selected","selected");
                  
                  attSelect.appendChild(attSelectDefault);
                 
                  //start add options
                  {% for cooker in cookers %}
                      attSelect.appendChild(attOption{{cooker.id}});
                   {% endfor %}
                  //end add options
                  
                  //Add select to td kitchen 
                  
                  attKitchenSpe.appendChild(attSelect);
                 
                  //Add child to tr element
                 //alert(attName);
                  elementTR.appendChild(attName);
                  elementTR.appendChild(attNumber);
                  elementTR.appendChild(attTime);
                  elementTR.appendChild(attKitchenSpe);
                 
                  //Add all element tr to table
                  elementParent.appendChild(elementTR);
                  }
            }
    </script>
    </head>
   <!--  <body onload="setTimeout(getNamesList(),3000);">-->
    <body onload="setTimeout(refreshList(),3000);">
        <h1> List Order </h1>
        <table>
            <thead> <tr><th>Name</th><th>Number</th><th>TimeOrdered</th><th>Kitchen Info</th></tr></thead>
            <tbody>
                <tr id="listToRefresh" /> </tr>
            </tbody>
        </table>
    </body>
</html>
