<html>
    <head>
          <script type="text/javascript" src="refresh.js""></script>
    </head>
    <body>
       {%for d in datas%}
       <h1>{{ d}}
       </h1>
       {% endfor %}
    </body>
</html>
