@charset "utf-8";
/* CSS Document */

th {
	font-weight: bold;
	background-color: #acf;
	border-bottom: 1px solid #cef;
}
h1 {
	font-size: xx-large;
	text-align: center;
}

table {
	text-align:center;
	width: 90%;
	border: 1px solid #cef;
	alignment-adjust:central;
}

div {
	text-align:center;
	
}
	
td,th {
	padding: 4px 5px; 
	
}

.odd {
	background-color: #def; 
}
.odd td {
	border-bottom: 1px solid #cef; 
}

